<!DOCTYPE html>
<html>
    <head>
        <title> Movies App </title>
        <script>
        function confirmDelete(movie, id) {
            return confirm(`Are you sure you want to delete ${movie} (id ${id})?`)
        }
        </script>
        <link rel="stylesheet" type="text/css" href="/style.css" title="CSS">
    </head>
    <body>
        <%- include('header', {}); %>
        <div class="page-card">
            <h2> Index </h2>
            <div class="filter-bar">
                <form method="get" action="/movies">
                    <label for="genre"> Genre: </label>
                    <select id="genre" name="genre">
                        <option value=""> All </option>
                        <% genres.forEach( genre => { %>
                        <option value="<%=genre%>" <%= (genre == query.genre) ? "selected" : ""%>> <%=genre%> </option>
                        <% }) %>
                    </select>
                    <label for="title"> Title: </label>
                    <input class="edit-input-field" type="text" id="title" name="title" value="<%=query.title%>">
                    <input class="btn-primary" type="submit" id="filter" name="filter" value="Filter" >
                    <a class="btn-secondary" href="/movies"> Reset </a>
                </form>
                <a class="btn-primary" href="/movies/create"> Create New </a>
            </div>
            <table class="movie-list-table">
                <thead>
                    <td> Title </td>
                    <td> Release Date </td>
                    <td> Genre </td>
                    <td> Price </td>
                    <td> Rating </td>
                    <td colspan="3"> </td>
                </thead>
                <tbody>
                <% movies.forEach( movie => { %>
                    <tr>
                        <td> <%= movie.title %> </td>
                        <td> <%= movie.releaseDate %> </td>
                        <td> <%= movie.genre %> </td>
                        <td> <%= movie.price %> </td>
                        <td> <%= movie.rating %> </td>
                        <td> <a class="list-action" href=<%=`/movies/${movie.id}/edit`%>> Edit </a> </td>
                        <td> <a class="list-action" href=<%=`/movies/${movie.id}`%>> Details </a> </td>
                        <td>
                            <form method="post" action="movies/<%=movie.id%>/delete">
                                <input class="list-action" id="list-action-delete" type="submit" value="Delete" onclick="return confirmDelete('<%=movie.title%>', '<%=movie.id%>');">
                            </form>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
        <%- include('footer', {}); %>
    </body>
</html>
