<!DOCTYPE html>
<html>
    <head>
        <title> Movies App </title>
        <script>
        function confirmDelete(movie, id) {
            return confirm(`Are you sure you want to delete ${movie} (id ${id})?`)
        }
        </script
    </head>
    <body>
        <%- include('header', {}); %>
        <h1> Index </h1>
        <a href="/movies/create"> Create New </a>
        <table>
            <tr>
                <td> Title </td>
                <td> Release Date </td>
                <td> Genre </td>
                <td> Price </td>
                <td> </td>
            </tr>
        <% movies.forEach( movie => { %>
            <tr>
                <td> <%= movie.title %> </td>
                <td> <%= movie.releaseDate %> </td>
                <td> <%= movie.genre %> </td>
                <td> <%= movie.price %> </td>
                <td>
                    <a href=<%=`/movies/${movie.id}/edit`%>> Edit </a> |
                    <a href=<%=`/movies/${movie.id}`%>> Details </a> |
                    <form method="post", action="movies/<%=movie.id%>/delete">
                        <input type="submit" value="Delete" onclick="return confirmDelete('<%=movie.title%>', '<%=movie.id%>');">
                    </form>
                </td>
            </tr>
        <% }); %>
        </table>
        <%- include('footer', {}); %>
    </body>
</html>
